@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  overflow-x: hidden;
}

body {
  font-family: 'Babylonica', cursive;
  background-color: black;
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.search-container {
  padding: 30px 0px;
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

input {
  font-size: 17px;
  cursor: pointer;
  padding: 18px;
  border: 1px solid transparent;
  background-color: rgb(95, 93, 93);
  width: 100%;
  max-width: 470px;
  color: white;
  border-radius:12px 0px 0px  12px;
}

input:focus {
  border: 1px solid orangered;
  outline: none;
}

.btn {
  padding: 18px 36px;
  cursor: pointer;
  font-size: 17px;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 0px 12px 12px 0px;
}

.intro {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.intro h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.intro p {
  font-size: 18px;
}

.highlighter {
  background: radial-gradient(circle at center center, #2DE263 0%, #4A00E0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  margin: 100px auto;
  border: 5px solid #eaf4ed; /* Light grey */
  border-top: 5px solid #4A00E0; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.movie-container {
  color: white;
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.error-container {
  color: white;
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  font-size: 34px;
}

.ratings {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
}
.genre {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  font-size: 14px;
}
.movie-ideas {
  font-weight: bolder;
  font-size: 15px;
}

.d-none {
  display: none;
}

.content {
  width: 100%;
  max-width: 500px;
}

.movie-image {
  object-fit: cover;
  width: 100%;
  max-width: 250px;
  border-radius: 12px;
  cursor: pointer;
  transition: box-shadow .3s ease;
}

.movie-image:hover {
  box-shadow: 0px 3px 13px rgb(255, 255, 255, 0.4);
}

.movie-img-container {
  position: relative;
}

.same-class {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  padding: 6px 16px;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px;
  display: inline-block;
}
.movie-container .content .movie-ideas {
  color: orange;
}
.movie-ideas span {
  font-weight: 400;
  color: white !important;
}



@media screen and (max-width:992px) {
  .movie-container {
    margin: 30px auto;
    gap: 10px;
    padding: 30px 10px;
    width: 100%;
    overflow-x: hidden;
  }
  .genre {
    font-size: 12px;
  }
}

@media screen and (max-width:768px) {
  .movie-container {
    flex-direction: column-reverse;
  }
  .search-container {
    width: 95%;
    padding: 20px 30px;
    margin: 0;
    align-items: center;
  }
  .genre {
    font-size: 14px;
  }
  .error-container {
    text-align: center;
    font-size: 27px;
  }
  .intro {
    width: 100%;
    max-width: 450px;
  }
  .intro .highlighter {
    font-size: 30px;

  }
  .intro  p {
    font-size: 19px;
  }
}
@media screen and (max-width:480px) {
  input {
    font-size: 14px;
    padding: 13px;
  }

  .btn {
    font-size: 12px;
    padding: 15px 20px;
  }
  .search-container {
    padding: 0px;
  }
  .genre {
    font-size: 12px;
  }
  .error-container {
    text-align: center;
    font-size: 16px;
  }
  .intro {
    max-width: 350px;
  }
  .intro .highlighter {
    font-size: 24px;

  }
  .intro  p {
    font-size: 16px;
  } 
}